@use 'config' as c;

.art01{
  width: 100%;
  padding: c.$padMin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
  @media only screen and (min-width:c.$tablet){
      width: 80%;
      row-gap: 3rem;
      padding: initial;
  }
  @media only screen and (min-width:c.$desktop){
      width: 60%;
      row-gap: 4rem;
  }
  >:nth-child(1){
    width: 100%;
    text-align: left;
    @media only screen and (min-width:c.$desktop){
        text-align: center;
        width: auto;
    }
  }
  img{
    width: 100%;
    aspect-ratio: 1/1;
    // height: calc(100dvw - (c.$padMin * 2));
    object-fit: cover;
    object-position: center;
    background-color: white;
    @media only screen and (min-width:c.$tablet){
      aspect-ratio: 16/9;
    }
  }
  p{
    width: 100%;
    @media only screen and (min-width:c.$tablet){
      width: 80%;
    }
    @media only screen and (min-width:c.$desktop){
      width: 70%;
    }
  }
}