@use 'config' as c;

.art02{
    // cómo es
    width: 100%;
    padding: c.$padMin;
    // background-color: c.$color02;
    // como organiza a sus hijos
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    @media only screen and (min-width:c.$tablet){
        row-gap: 3rem;
    }
    @media only screen and (min-width:c.$desktop){
        width: 80%;
    }

    >div{
        // cómo es
        width: 100%;
        // cómo organiza a los hijos
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 5rem;
        @media only screen and (min-width:c.$tablet){
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            column-gap: 3rem;
        }
        @media only screen and (min-width:c.$desktop){
            column-gap: 5rem;
        }

        .contenedor-lista{            
            // background-color: aquamarine;
            width: 100%;
            max-width: 500px;
            border-radius: 10px;
            padding: 1.5rem;
            transition: .5s ease-in-out;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 1.5rem;
            box-shadow: 0 0 15px c.$color01bis;
            @media only screen and (min-width:c.$tablet){
                border-radius: 15px;
                padding: 2.5rem;
            }
            @media only screen and (min-width:c.$desktop){
                border-radius: 15px;
                padding: 3rem;
            }
            &:hover{
                background-color: c.$color02bis;
                transform: scale(1.02);
                >:nth-child(1){
                    color: c.$color00;
                }
                ul li{
                    img{
                        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(159deg) brightness(104%) contrast(104%);
                    }
                    span{
                        color: c.$color00;
                    }
                } 
            }
            >:nth-child(1){
                transition: 0.2 ease-in-out;
            }
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                li{
                    display: flex;
                    flex-direction: row;
                    column-gap: 1rem;
                    img{
                        width: 20px;
                        transition: 0.2 ease-in-out;
                        filter: invert(13%) sepia(70%) saturate(4377%) hue-rotate(260deg) brightness(93%) contrast(94%);
                        @media only screen and (min-width:c.$tablet){
                            width: 25px;
                        }
                        @media only screen and (min-width:c.$desktop){
                            width: 30px;
                        }
                    }
                    span{
                        transition: 0.2s ease-in-out;
                    }
                }
            }

        }
    }
}