@use 'config' as c;

.art05{
    width: 100%;
    padding: c.$padMin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    @media only screen and (min-width:c.$tablet){
        row-gap: 3rem;
    }
    
    >p{
        width: 100%;
        @media only screen and (min-width:c.$tablet){
            width: 80%;
        }
        @media only screen and (min-width:c.$desktop){
            width: 60%;
        }
    }

    >div{
        // background-color: aqua;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 2rem;

        .ficha{
            width: 300px;
            background-color: c.$color00bis;
            padding: c.$padMin;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1.5rem;

            >img{
                width: 60%;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }

            >div{
                width: 100%;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1rem;

                >:nth-child(3){
                    width: 100%;
                    text-align: left;                                     
                }
                :nth-last-child(1){
                    color:c.$color01bis;
                }
            }

        }
    }
}