@use 'config' as c;

.art06{
    background-color: #7fffd4;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: c.$padMin;
    @media only screen and (min-width:c.$tablet){
        width: 90%;
        padding: initial;
        &.upsidedown{
            >img{
                order: 1;
            }
            >div{
                order: 0;
            }
        }
    }
    @media only screen and (min-width:c.$desktop){
        width: 80%;
    }
    
    >img{
        width: 100%;
        height: 40dvh;
        object-fit: cover;
        object-position: center;
        @media only screen and (min-width:c.$tablet){
            width: 60%;
            height: auto;
        }
    }
    >div{
        width: 100%;
        padding: c.$padMin;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 2rem;
        @media only screen and (min-width:c.$tablet){
            width: 40%;
        }
        >:nth-child(1){
            order: 1;
        }
        >:nth-child(2){
            order: 2;
        }
        >:nth-child(3){
        order: 4; 
        }
        >:nth-child(4){
            order: 3;
        }
    }
}