*{
    margin: 0;
    padding: 0;    
    outline: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'geom';
    src: url('./Geom-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'notosans';
    src: url('./NotoSans_Condensed-Regular.ttf');
}

// variables
$color00: white;
$color00bis: #ebebeb;
$color01: #141414;
$color01bis: #14141446;
$color01bis2: #c3c3c3;
$color02: rgb(156, 32, 96);
$color02bis: rgb(163, 100, 130);
$color03: #5524a8;

$font02: 'geom';
$font01: 'notosans';

$tablet: 800px;
$desktop: 1200px;

$padMin: 1.5rem;


nav, header, main, footer, section{
    width: 100%;
}

header, main, footer, section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav{
    height: 10dvh;
    background-color: rgb(168, 67, 67);
}
header{
    height: 90dvh;
    background-color: rgb(69, 69, 172);
    justify-content: center;
}
main{    
    // background-color: rgb(38, 164, 38);
    row-gap: 3rem;
    @media only screen and (min-width:$tablet){
        row-gap: 4rem;
    }
    @media only screen and (min-width:$desktop){
        row-gap: 6rem;
    }
}
footer{
    height: 400px;
    background-color: rgb(52, 52, 52);
}

section{
    // background-color: antiquewhite;    
    padding: $padMin 0;
    row-gap: 2rem;
    @media only screen and (min-width:$tablet){
        padding: 4rem 0;
    }
    @media only screen and (min-width:$desktop){
        padding: 6rem 0;
    }
}


h1, h2, h3, h4{
    font-family: $font01;
}
p, span, a, li{
    font-family: $font02;
}

h1{
    color: $color00;
}
h2{
    color: $color01;
}

.boton{
    padding: 0.5rem 2rem;
    background-color: $color03;
    color: $color00;
    text-decoration: none;
    border-radius: 3px;
    border: 1.5px solid $color03;
    transition: 0.5s;
    letter-spacing: 2px;
    &:hover{
        color: $color03;
        background-color: $color00;
        transform: scale(.9);
    }
    &:active{
        transform: scale(.85);
    }

}


